
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form asp-controller="Super" asp-action="DisplaySupers" method="get">
    <label> Heros</label>
    <input type="radio" name="selection" value="Heros" />
    <label> Villians</label>
    <input type="radio" name="selection" value="Villains" />
    <button type="submit">"Check out the homies"</button>

</form>

<a class="nav-link text-dark" asp-area="" asp-controller="Super" asp-action="AddSuper">Add a new Super</a>
