@{
    ViewData["Title"] = "Home Page";
}

 <form action="../Brewery/DisplayBrewery" method="post">
     <input type="text" name="state" value="" />
     <input type="submit" class="btn btn-primary" value="Submit" />

 </form>
